<div class="container">
        <div class="col-md-6 offset-3" style="background: rgb(68, 217, 243); border-radius: 2rem;">
            <div class="row">
                <div class="col-md-6">
                    <h1>Bé tập tính</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="mt-1">
                        <p class="mb-2">Số thứ nhất</p>
                        <p class="mb-2">Số thứ hai</p>
                        <p class="mt-2">Kết quả</p>
                    </div>

                </div>

                 <div class="col-md-9">
                    <form method="POST" action ="">
                        <div class="row">
                            <div class="col-md-4">
                                <input class="mb-1" onblur="kiemtrasothuc(this.value,this.name)" type="text" id="num1"
                                name="number1" value ="{{number1}}">
                                <input class="mb-1" onblur="kiemtrasothuc(this.value,this.name)" type="text" id="num2"
                                    name="number2" value ="{{number2}}">
                                <input class="mb-1" type="text" id="ketqua" name = "result" value ="{{result}}">
                        </div>
                        <div class="col-md-4 offset-3">
                            <input id="phepcong" type="radio" id="cong" name="pheptinh" value="+" checked = "false">
                            <label for="cong">Cộng</label>
                            <input id="pheptru" type="radio" id="tru" name="pheptinh" value="-" checked = "false">
                            <label for="tru">Trừ</label><br>
                            <input id="phepnhan" type="radio" id="nhan" name="pheptinh" value="*" checked = "false">
                            <label for="nhan">Nhân</label>
                            <input id="phepchia" type="radio" id="chia" name="pheptinh" value="/" checked = "false">
                            <label for="chia">Chia</label><br>
                            <input type="submit" value="Tính" onclick="return kiemtraduso(event)">
                        </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <p id="thongbao"></p>
                </div>
                <div class="col-md-9">
                    <p id="thongbao1"></p>
                </div>
            </div>
        </div>
    </div>